<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Student Details Crud App in EXT JS</title>
  <link rel="stylesheet" type="text/css" 
    href="http://cdn.sencha.com/ext/gpl/4.2.0/resources/css/ext-all.css">
    <link rel="stylesheet" type="text/css" 
    href="/css/extgrid.css">
  <script type="text/javascript" 
    src="http://cdn.sencha.com/ext/gpl/4.2.0/ext-all.js"></script>
    <!--  <link rel="stylesheet" type="text/css" href="studentdetails/ext-4.2.1/resources/css/ext-all-debug.css">
    
     <script type="text/javascript" src="studentdetails/ext-4.2.1/ext-all-debug.js"></script> -->
  <style>
  .student-add { background-image:url('images/student_add.png');}
  div#output {margin:100px;}
  </style>
  <script type="text/javascript" src="js/student.js"></script>
</head>
<body>
<h1 align="center" style="background-color:powderblue; margin-top:30px;">Student Details</h1>
  <div id="output"></div>
</body>
</html>
